# PostgreSQL connection string
# Формат: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Auth.js
AUTH_SECRET="AUTH_SECRET"   # можно через: openssl rand -base64 32
AUTH_URL="AUTH_URL"